<h2><%= user.fullName %></h2>
<div>Full Name: <%= user.fullName %></div>
<div>Primary Address: <%= user.primaryAddress %></div>
<div>Secondary Address: <%= user.secondaryAddress %></div>
<div>City: <%= user.city %></div>
<div>State: <%= user.state %></div>
<div>Zipcode: <%= user.zipcode %></div>
<<<<<<< HEAD
<a href="/users/<%= user.id %>/edit">Edit Details</a>
=======
<a href="/users/<%= user.id %>/edit">Edit</a>
<%- include('../partials/deleteForm',
            { url: `/users/${user.id}` }) %>
>>>>>>> 5d573747b35512a272ccedc9598e2078f4750dd0
<% if (quotesByUser.length > 0) { %>
  <h2>Quotes By User</h2>
  <% quotesByUser.forEach(quote => { %>
    <div>
        <a href="/quotes/<%= quote.id %>">
          <div>
            <%= quote.deliveryDate.toISOString().split('T')[0] %>
        </div>
        </a>
    </div>
  <% }) %>
<% } %>